#root {
  height: 100%;
  width: 100%;  
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.line {
  width: 1px;
  background-color: #666666;
  margin: 0px 10px;
}

.col-area {
  flex-basis: 300px;
}

.table-area {
  flex: 1;
}